html
{
    --mainColor : #961a1a;
    --facebook : #3b5999;
    --twitter : #55acee;
    --instagram : #e4405f;
    --youtube : #cd201f;
    --linkedin : #0077B5;

}
body{
    background: #EEE
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}

a.nav-link
{
    transition:all .3s ease-in-out !important;
    cursor: pointer !important;
}

body{
    padding-top:55px
}

* a:hover {text-decoration: none}
.carousel {top: -15px;}
/* navbar start */
.carousel-indicators , 
.carousel-control-next, 
.carousel-control-prev {
    z-index: 1;
}
.navbar
{
    padding: 5px;
    z-index: 3;
    border-bottom: 3px solid rgba(109, 109, 109, .5);
}
.bg-dark {
    background-color: rgba(52, 58, 64, .9)!important;
}

.navbar .navbar-toggler i {
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: all .4s linear !important;
    transform: scale(1.6,1.2);
}

.navbar .navbar-toggler {
    outline: none;
    border: none;
    transition: all .3s ease-in-out;
}

.navbar .navbar-toggler  i
{
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: all .4s linear !important;
    transform: scale(1.6,1.2);
}

.navbar .navbar-toggler:hover  i { color: var(--mainColor);}
.navbar .nav-item
{
    padding-left: 25px;
    text-transform: capitalize;
}
.navbar .nav-item .nav-link
{
    margin-left: 20px;
    font-size: 18px;
    height: 100%;
    position: relative;
    transition: all .2s linear

}

/* end navbar */
/* logo start */
.logo
{
    position: relative;
    width: 60px;
    height: 40px;
    outline: none;
    margin-left: 5px
}

.logo > span
{
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none
}

.navbar .logo > span:nth-child(1)
{
    background: #c1c1bf
}

.navbar .logo > span:nth-child(2)
{
    background: var(--mainColor);
    z-index: 2;
    left: -8px;
    top: -1px;
    color:#fff;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
}

/* logo end */


/* start page [ form ] add book  */
.new{
    width: 70px;
    position: absolute;
    background: transparent;
    outline: none;
    border: none;
    left: -5px;
    top: -20px;
    display: none;
}
.alert-add-book .close ,
.alert-sign-up  .close ,
.alert-login .close 
{top : 50%;  transform: translateY(-50%); right: -10px;}

.form-add-book, 
.alert-add-book,
.alert-login,
.alert-sign-up,
.form-sign-up,
.form-login,
.form-forget-password

{ max-width:700px; margin:50px auto; padding: 5px 15px}

.alert-sign-up > .lead , 
.alert-add-book .close ,
.alert-login > .lead
{margin:0}

.form-add-book > h2, .form-sign-up > h1, .form-login > h1 , .form-forget-password > h1 {
    text-transform: capitalize;
    letter-spacing: -3px;
    font-family: serif;
    transform: scale(1.2,1.3);
    color: #959494;
}

.form-add-book  > .form-group ,
.form-sign-up   > .form-group,
.form-login   > .form-group ,
.form-forget-password > .form-group 
{ position:relative; }

.form-add-book  > .form-group > .require ,
.form-login > .form-group > i,
.form-forget-password > .form-group > i
{
    font-size: 25px;
    color: var(--danger);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    margin-left: 10px;
}

.form-add-book  button[type = 'submit'] {
    text-transform: capitalize;
    font-family: serif;
    padding: 2px 20px ;
}

.content a {
    font-size: 20px;
    font-family: serif;
    transition: all .4s linear
}
.content a:hover .content-text {
    color: var(--danger) !important;
    /* font-size: 18.5px; */
    letter-spacing: 1.5px;
    opacity: .8;

}

/**
 * .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--purple);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25
 */

/* end page [ form ] add book  */

/* start page sign up */

.information { display: none }

/* end page sign up  */

/* start page login */
.form-login ,.alert-login , .form-forget-password { max-width:550px }
.form-login > .form-group  > i  , .form-forget-password > .form-group  > i  {
    font-size: 18px;
    right:10px;
    color:initial;
    cursor: pointer;
    transition: all .3s ease-in-out
}
.form-login a::before , .form-sign-up  a::before , .form-forget-password a::before{
content: '-';

}

.form-login  a , .form-sign-up  a , .form-forget-password a { 
    transition: all .3s linear;
    font-size: 18px;
    text-transform: capitalize;
    opacity: .66;
}

.form-login a:hover , .form-sign-up  a:hover , .form-forget-password a:hover, .ris-search a:hover  {
    color: var(--danger);
    margin-left: 10px;
    opacity: 1;
}

/* end page login   */

/* start nav admin  */
.navbar-dark .navbar-nav .nav-link {
    margin-left: 20px;
    text-transform:capitalize; 
}
/* end nav admin  */



/* search */
.search , .icon-search{
    cursor: pointer !important;
}
.input-search {
    background: rgba(255, 255, 255, .8);
    z-index: 1;
    display: none;
    border-radius: 0 !important;
    margin: 0;
    z-index: 2;
}
.ris-search {
    position: fixed;
    top: 114px;
    background: #eeee;;
    width: 100%;
    left: 50%;
    color: black;
    transform: translateX(-50%);
    padding: 15px;
    display: none;
    margin: 0;
    z-index: 2;
}

.ris-search a {
    transition: all .3s linear;
    color: black;
}

.rotate {
    transform: rotate(90deg) !important;
}

/* dashboard */
.statistics , .edit-books{
    text-transform: capitalize;
    font-family: serif;
    transform: scale(1.2,1.3);
    color: #959494;
    font-size: 60px;
}
.Books i , .Users i , .Views i {
    font-size: 55px;
    margin-bottom: 15px; 
    display: block
}
.Books{ background-color: #c0392b}
.Users{ background-color: #8e44ad}
.Views{ background-color: #d35400}
.number{
    font-size: 55px;
}
/* dashboard */

/* add user */
.privileges{
    line-height: 38px;
    font-size: 20px;
    margin-right: 8px;
    color: var(--danger);
    font-family: serif;
}
.show-pass.add-user{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
/* add user */

/* edit books */
.edit-books{
    transform: scale(1,1);

}
.settings_book
{
    padding: 25px;
    min-height: 350px;
    overflow: hidden;
}
.settings_book > .row {
    background-color: #DDD;
    padding: 15px 0;
    border-radius: 20px
}
.settings_book span , .settings_book strong 
{
    text-transform: capitalize
}
/* .edit , .delete {
    margin-top: 33px !important
} */
.edit , .btn-delete , .change-photo {
    padding: 1px;
    width: 100px; 
    font-family: Arial, Helvetica, sans-serif
}
.edit a , .btn-delete a , .change-photo:hover a {
    color: var(--light);
}
.edit a:hover , .btn-delete a:hover , .change-photo a:hover {
    color: var(--light);
    text-decoration: none
}
.change-photo{
    width: 200px
}
/* edit books */

.pop{
    z-index: 1;
    top: 55px;
    max-width: 1920px;
    left: 50%;
    height: 100%;
    bottom: 0;
    transform: translateX(-50%);
    background-color:  rgba(0, 0, 0, .5);
    display: none
}
.pop > p {
    position: absolute;
    width: 36%;
    /* height: 160px; */
    background: #eee;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 0px;
    border-radius: 25px;
    overflow: hidden;
    font-size: 23px
}


.pop .btn {

    font-size: 22px;
    margin-top: 40px;
}

.num-element{
    position: absolute;
    color: var(--light);
    right: -12px;
    top:0;
    background: var(--danger);
    min-width: 20px;
    min-height: 20px;
    line-height: 20px;
    text-align: center;
    font-family: serif;
    border-radius: 50%;
    border: 1.2px solid var(--light);
    outline: none;
}


.col-12 .info {
    line-height: 200px;
    font-size: 22px
}


.informationBook:hover {
    background: #ddd;
    cursor: pointer;
}
.informationBook:hover .btn {
    right: -1px;

}
.informationBook{overflow: hidden;}

.informationBook .btn{
    right: -180px;
    width: 215px;
    padding: 1px 8px;
    position: absolute;
    font-size: 22px;
    top: 55%;
    transform: translateY(-50%);
    transition: all .5s ease-in-out
}

.alterText { display: none }
.alterText .lead, .alterText-2 .lead  {
    font-size: 45px;
    color: var(--danger);
}

.users{overflow:hidden}

.btn-edit-user{
    width:200px;
    font-size:20px;
    text-align:left;
    padding:1px 5px;
    transition: all .5s ease-in-out
}

.edit-user-link{
    position:absolute;
    right: -170px;
    top: 10px;
    transition: all .5s ease-in-out
}
.btn-delete-user{
    width:200px;
    font-size:20px;
    text-align:right;
    padding:1px 5px;
    transition: all .5s ease-in-out

}

.delete-user-link{
    position:absolute;
    left: -170px;
    top: 10px;
    transition: all .5s ease-in-out

}

.data-user:hover , .action:hover {
    background: #ddd;
    cursor: pointer;
}

.data-user:hover .edit-user-link {
    right:-100px
}
.data-user:hover .delete-user-link {
    left:-100px
}

@media (max-width : 1000px)
{
    .navbar-collapse { margin: 20px 0 0 0 }

    .navbar-collapse  .nav-item {padding:  0 }
    .navbar-collapse  .nav-item .nav-link { margin:  0 }

    .navbar .nav-item:not(.dropdown):hover > .nav-link
    {
        margin-left: 15px;
        /* font-weight: 900; */
        letter-spacing: 2px
    }

    .col-12 .info {
        line-height: 2;
    }

    .num-element{
        right:100%;
        left:48px
    }
    .pop > p {
        width: 90%;
        /* top: 45%; */
        /* left: 53%; */
        }
}


@media (min-width : 1000px ) and (max-width:1200px)
{
    .navbar-collapse  .nav-item {padding-left:  15px}
}